body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    /* Separación entre elementos */
    margin: 0 300px;
    /* Márgenes a los lados */
}

.elemento {
    font-family: monospace;
    width: 160px;
    height: 160px;
    background-color: orange;
    color: #fff;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.elemento:hover {
    background-color: rgb(160, 106, 6);
    transform: translateY(-10px);
}